*{
  text-align: center;
}

header{
  background-image: url('../assets/assets/backgrounds/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.navbar{
  padding: 30px
}
.navbar-nav a{
  color: white;
  margin: 10px;
}
header>.container>.card{
  background-color: transparent;
  margin-top: 200px;
  border: none;
  color: white;
}
header>.container>.card>.card-header h1{
  border: none;
  font-size: 60px;
  margin: 30px 0px 80px 0px;
}
header>.container>.card>.card-header h2{
  font-size: 40px;
}
#choose{
  padding: 30px;
  background-color:rgb(163, 127, 79);
}

.right input{
  background-color: rgb(104, 36, 36);
  height: 50px;
  width: 290px;
  margin: 25px;
  color: white;
  border-radius: 5px;
}
.left{
  text-align: left;
  padding: 20px;
}
.left label{
  padding: 15px;
}

#men>.card{
  margin: 50px 0px 2px 0px;

}
#men>.card>.row{
  padding: 10px 0px 0px 0px;
}
#men>.card>.container>.row{
  margin: 10px 0px 50px 0px;
  
}
.card{
  border: none;
}

.card>.card-block>.card-header, .card-body, .card-footer{
  border: none;
  background-color: transparent;

}
.card>.card-block{
  min-height: 430px;
  background-color: rgb(189, 189, 189);
}
.card>.card-block:hover{
  min-height: 430px;
  border: 6px solid rgb(163, 127, 79);
}
.card>.card-block>.card-footer{
  font-size: large;
}
.card>.card-block>.card-footer>.text{
  color: rgb(163, 127, 79);
}

#about{
  background-image: url("../assets/assets/backgrounds/about.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-top: 150px;
}
#about>.container-md{
  height: 500px;
  width: 900px;
}
#about>.container-md h2{
  background: transparent none repeat scroll 0 0;
  display: inline-block;
  padding: 5px 6px;
  /* width: 300px; */
}
#about>.container-md>.jumbotron{
  height: 300px;
  margin: px;
  border: 5px solid rgb(163, 127, 79);
}
#about>.container-md>.jumbotron p{
  font-size: 30px;
}


#promo{
  background-color: rgb(92, 92, 92);
  padding: 15px;
  font-size: 25px;
  color: white;
}

.col-md-11 p{
  text-align: left;
}

.desc{
  background-color: indianred;
}
.desc>.card{
  margin-top: 20px;
  text-align: left;
}


.social{
  background-color: rgb(12, 32, 88);
  height: 300px;
}
.social>.card{
  margin-top: 20px;
  text-align: left;
}
.social>.card>.container>.card-body{
  background-color: green;
  
}
.social>.card p{
  font-size: 10px;
}

.link{
  background-color: rgb(105, 205, 92);
}
.link>.card{
  margin-top: 20px;
  text-align: left;
}
.child {
  flex: 1 0 21%;
  margin: 5px;
  background-color: blue;
}